<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sample.learn.binder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".local.LocalServiceActivities$Binding"/>

        <activity android:name=".local.LocalServiceActivities$Controller"/>

        <service android:name=".local.LocalService"/>

        <activity android:name=".messager.MessengerServiceActivities$Binding"/>

        <service android:name=".messager.MessengerService"/>

        <activity android:name=".aidl.RemoteActivity"/>

        <service android:name=".aidl.RemoteService"
            android:process=":aidl">
            <intent-filter>
                <action android:name="com.sample.aidl.service"/>
            </intent-filter>
        </service>

        <activity android:name="com.sample.hook.FirstActivity"/>

        <!--
        Target Activity.
        <activity android:name="com.sample.hook.SecondActivity"/>
        -->

        <!--替身Activity-->
        <activity android:name="com.sample.StubActivity"/>

    </application>

</manifest>